---
import FileView from "@/components/lokus-editor/FileView";
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import { Image } from "astro:assets";
import lokusIcon from "@/assets/lokus.svg";
import { getLokusLanguage, getLokusDictionary } from "@/lokus/config";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import Footer from "../Footer.astro";

const dictionary = getLokusDictionary(getLokusLanguage(Astro.currentLocale));
---

<Layout>
    <header class="w-full flex justify-between p-4 bg-slate-50">
        <a
            href={getAbsoluteLocaleUrl(Astro.currentLocale ?? "en")}
            class="flex items-center gap-2 font-bold"
        >
            <Image
                src={lokusIcon}
                alt="Lokus icon"
                width={32}
                height={32}
                class="rounded-full"
            />
            {dictionary["editor.title"]}
        </a>
        <nav class="flex justify-center gap-4">
            <a
                class="p-1 font-bold"
                href={getAbsoluteLocaleUrl(Astro.currentLocale ?? "en")}
                >{dictionary["editor.nav.home"]}</a
            >
        </nav>
    </header>
    <Main>
        <FileView dictionary={dictionary} client:load />
    </Main>
    <Footer />
</Layout>
